<nav class="navbar navbar-expand-sm py-0">
  <div class="container-fluid navbar__container px-0">
    <a class="navbar-brand h-100 ps-4 py-0">Jhana</a>
    <button
      class="navbar-toggler pe-4"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto m-0 text-center">
        <li class="nav-item">
          <a class="nav-link">Timer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3"
            >My Account
            <img
              src="assets/icons/register-icon.png"
              alt="account icon"
              height="25px"
          /></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
